#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

.mat-form-field {
  width: 100%;
}

.preview {
  max-width: 25rem;
  vertical-align: middle;
}

mat-toolbar button {
  width: 20rem !important;
  height: 2.5rem !important;
}

.file-upload-button {
  padding-top: 1rem;
}
