






<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <div class="app-container">
        <div>
          <img *ngFor='let preview of previews' [src]="preview" class="preview">
        </div>
        <mat-form-field>
          <div>
            <mat-toolbar>
              <input matInput [value]="selectedFileNames.length ? selectedFileNames : 'Select Images'" />
              <button type="button" class="btn btn-primary" (click)="uploadFiles()">Upload</button>
        
            </mat-toolbar>
        
            <input
              type="file"
              id="fileInput"
              name="fileInput"
              accept="image/*"
              (change)="selectFiles($event)"
            />
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="col col-lg-6"  style="padding-top:20px">
      <ul class="list-group">
        <li class="list-group-item">Company Name :- {{responseData?.optionChain?.result[0].quote['shortName']}}</li>
        <li class="list-group-item">Stock Ticker:-  {{responseData?.optionChain?.result[0].underlyingSymbol}}</li>
        <li class="list-group-item">Current Price :-  {{responseData?.optionChain?.result[0].quote['ask']}}</li>
      </ul>
<div style="padding-top:20px">
  <button type="button" class="btn btn-primary">Buy</button>

</div>

    </div>
  </div>
</div>
